add_unsafe_child_process_permission sonorancms
ensure sonorancms
# permissions for SonoranCMS auto-updater (REQUIRED)
add_ace resource.sonorancms command allow
add_ace resource.sonorancms_updatehelper command allow
